doctype
html(lang='en')
  head
    title Kimberly Knight Perez, LLC – Attorney At Law
    link(rel='stylesheet' href='reset.css')
    link(rel='stylesheet' href='index.css')
  body
    img(src='kim.jpg')
    h1 Kimberly Knight Perez, LLC
    h2 Attorney At Law  

    .address
      p P.O. Box 451275
      p Atlanta, Georgia 31145
      p kim@kimkperez.com
      p (404) 492-9640

    p Providing legal services to individuals and small businesses.

    p Areas of practice:

    ul
      li Contract disputes
      li Business to business disputes
      li Residential construction
      li Home remodeling
      li Mold discovery

    p Licensed to practice in all Georgia state courts, the Supreme Court of Georgia, the Georgia Court of Appeals, and the 11'th Federal Circuit.

