doctype
html(lang='en')
  head
    title The Law Offices of Kim Knight Perez
    link(rel='stylesheet' href='reset.css')
    link(rel='stylesheet' href='index.css')
    script(src='js/ganalytics.js')
  body
    header
      img(id='logo' src='logo.svg')

      pre.address
        | P.O. Box 451275
        | Atlanta, Georgia 31145
        | kim@kimkperez.com
        | (404) 492-9640

    main
      p The Law Offices of Kim Knight Perez is a law firm that supports Georgians by creating customized and legally binding plans that protect their families and preserve their assets when they are no longer able to do so. 

      p We represent couples with small kids, same sex couples, and small business owners. Please contact us if we can be of help.

      p Licensed to practice in all Georgia state courts, the Supreme Court of Georgia, the Georgia Court of Appeals, and the 11'th Federal Circuit.

      p
        a(href="https://docs.google.com/forms/d/1ry_PWdNrFCoAJ0rp8Pibq8zDWNw88Eg625HHlAE_-98/viewform?usp=send_form") Send your contact information to Ms. Perez here.

      img(src='kim.png')
