doctype
html(lang='en')
  head
    title The Law Offices of Kim Knight Perez
    link(rel='stylesheet' href='reset.css')
    link(rel='stylesheet' href='index.css')
    script(src='js/ganalytics.js')
  body
    header
      img(id='logo' src='logo.svg')

      pre.address
        | P.O. Box 451275
        | Atlanta, Georgia 31145
        | kim@kimkperez.com
        | (404) 492-9640

    main
      p Providing legal services to individuals and small businesses.

      p Areas of practice:

      ul
        li Contract disputes
        li Business to business disputes
        li Residential construction
        li Home remodeling
        li Mold discovery

      p Licensed to practice in all Georgia state courts, the Supreme Court of Georgia, the Georgia Court of Appeals, and the 11'th Federal Circuit.

      p
        a(href="https://docs.google.com/forms/d/1ry_PWdNrFCoAJ0rp8Pibq8zDWNw88Eg625HHlAE_-98/viewform?usp=send_form") Send your contact information to Ms. Perez here.

      img(src='kim.png')
